/* basic reset */
* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* font */
@font-face {
    font-family: cerapro;
    src: url(../font/Cera\ Pro\ Light.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: ceraprobold;
    src: url(../font/Cera\ Pro\ Bold.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: cerapromedium;
    src: url(../font/Cera\ Pro\ Medium.otf);
    font-style: normal;
    font-weight: normal;
}

body { overflow-x: hidden; }

/* base do site*/

/* images */

#bike {
    margin-top: -45px;
    position: relative;
    z-index: 999;
}

#bg-image {
    position: absolute;
    z-index: 0;
    width: 100%;
    margin-top: -79px;
    left: 0px;
}

#work-text {
    margin-top: 51.4px;
}

.text {
    text-align: center !important;
}

/* contact-us */
.ctt-rectangles {
    position: absolute;
    margin-left: 55px;
}
    .contact-us .text {
        padding-top: 50px;
        position: relative;
        color: #FFF;
    }
        .contact-us h3 {
            font-family: cerapromedium;
            font-size: 50px;
        }

        .contact-us h5 {
            font-family: cerapro;
            font-size: 25px;
        }

    .contact-us .form {
        padding-top: 30px;
        padding-left: 450px;
        position: relative;
        text-align: center;
    }
        .contact-us input {
            outline: none;
            width: 300px;
            margin: 20px 0;
            font-size: 20px;
            font-family: cerapro !important;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid #FFF;
            color: #FFF;
            font-family: cerapro;
        }
            .contact-us input:focus {
                transition-duration: 0.5s;
                border-bottom: 1px solid #89bfb7;
            }

        .contact-us button {
            outline: none;
            margin-top: 30px;
            background-color: transparent;
            border: 0;
        }

/* home */
.home {
    margin-top: 100px !important;
}
.home .text{
    margin-top: 10px;
}

    .home h3 {
        font-family: cerapro;
        font-size: 25px;
        color: #F37029;
    }

    .home h1 {
        font-family: ceraprobold;
        font-size: 50px;
        color: #202328;
        margin-bottom: 95px;
    }

    .lines {
        stroke: #E97510;
        stroke-width: 2;
    }
      
      @keyframes dash {
        from {
          stroke-dashoffset: 248.22958374023438;
        }
        to {
          stroke-dashoffset: 0;
        }
    }

/* us */
.us .row {
    text-align: center;
}
    .us p {
        font-family: cerapro;
        vertical-align: top;
    }

    .us h6 {
        font-family: cerapromedium;
        font-size: 20px;
    }

/* projects */
.projects {
    padding: 60px;
}
    .projects h5, p, h2{
        font-family: cerapro;
    }
        .projects h5{
            color: #302827;
            font-size: 25px;
        }
        
        .projects h3 {
            font-family: cerapromedium;
            margin-top: -40px;
            color: #F46F2C;
            font-size: 50px;
        }

        .projects h2 {
            color: #107064;
            font-size: 35px;
        }

        .projects p {
            font-size: 18px;
        }

        .project-cont {
            margin-top: 25px; 
        }

    .carousel {
        width: 724px;
        height: 649px;
        border-radius: 25px;
        background-color: transparent;
    }

    #carimg {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    
    .square {
        padding-top: 75px;
    }
        .square img{
            position: absolute;
        }
        .square p {
            margin-left: 75px;
        }

/* our work */
.our-work {
    text-align: center;
}
    .our-work h3 {
        font-family: cerapro;
        color: #0F6F63;
        font-size: 50px;
    }

    .our-work p {
        padding: 70px;
        font-size: 22px;
    }

/* clientes */
#clientes {
    margin-left: -50px;
}

.clientes .row {
    align-items: center;
    display: flex;
    font-family: cerapro;
}

    .clienttext h5{
        font-size: 40px;
        color: #107064;
    }

    .clienttext h6 {
        color: #202328;
        font-size: 20px;
    }

/* manifesto */
.manifesto {
    font-family: cerapro;
    margin-top: 75px;
    padding: 0 196px;
}
    .manifesto h3 {
        color: #FDBE33;
        font-size: 25px;
    }

    .manifesto h1 {
        color: #F46F2C;
        font-size: 50px;
    }

    .manifesto p {
        font-size: 20px;
        line-height: 40px;
    }

/* news */
.news {
    padding: 200px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#news-img {
    position: absolute;
}

    .news h3 {
        padding-left: 530px;
        margin-bottom: 50px;
        position: relative;
        font-size: 30px; 
        color: white; 
    }

    .news input {
        margin-bottom: 20px;
        margin-left: 600px;
        text-align: center;
        position: relative;
        font-size: 25px; 
        color: white;
        font-family: cerapromedium;
        background-color: transparent;
        border: 0;
        outline: none;
    }

/* footer */
.footer .three.columns {
    position: relative;
    font-family: cerapro;
    padding: 115px 40px 0;
}
    #footer-logo {
        width: 100%;
        margin-top: 50px;
    }

    .footer h5{
        color: #FDBE33;
        font-size: 25px;
    }
        .footer p, a{
            margin-top: -15px;
            color: #FFF;
            text-decoration: none;
            font-size: 20px;
        }

        .social-links {
            margin-left: -77px;
        }
            .social-media li {
                list-style: none;
                float: left;
                margin-right: 20px;
            }
        
                .social-media li a {
                    font-size: 25px;
                    color: #fff !important;
                }

/* ajustes na responsividade */

/* mobile */
@media (max-width: 480px) {
  
    .home {
        text-align: center;
        margin-top: 100px !important;
    }
        #logo {
            margin: 39px 0 !important;
        }

        #bike {
            margin-top: -65px;
        }
        
        #bg-image {
            margin-top: -99px;
        }

    .us p {
        padding-top: 50px;
        line-height: 55px;
        font-size: 25px;
        color: #202328;
    }

    .us h6 {
        display: unset;
    }

    .projects {
        padding: 30px 60px;
        text-align: center;
    }

    .square {
        text-align: left;
    }
       
        .square p {
            margin-right: 50px;
        }

    .carousel {
        width: 100%;
        height: 100%;
        margin-top: 70px;
    }


    .manifesto {
        padding: 20px;
    }

    .news {
        display: none;
    }

    .our-work {
        padding: 30px;
        margin-bottom: 60px;
    }
        .our-work p {
            padding: 0;
            margin-bottom: 60px;
        }
        #work-text {
            margin-bottom: 50px;
        }

    .rectangles {
        width: 91.3333333333% !important;
        margin-right: -60px;
    }

    .clienttext {
        display: flex;
        width: 4.66666666667% !important;
    }
        .clienttext img, h6 {
            display: none;
        }

        .clienttext h5 {
            font-size: 35px;
            transform: rotate(90deg);
        }

    #foguete {
        display: none;
    }

    .footer {
        background-color: #107064;
        padding-bottom: 30px;
    }
        #footer-img {
            display: none;
        }

        .footer .three.columns {
            position: relative;
            font-family: cerapro;
            padding: 30px 40px 0;
        }
    
    .contact-us {
        text-align: center;
    }
        .ctt-rectangles {
            display: none;
        }

        .contact-us .text {
            color: #353535;
        }

        .contact-us .form {
            padding-left: 0;
            margin-bottom: 100px;
        }
            .contact-us input {
                border-bottom: 1px solid #353535;
                color: #353535;
            }

}

/* tablets */
@media (min-width: 600px) {
    .us .text {
        margin-top: 150px;
    }
        .us p {
            line-height: 75px;
            font-size: 29px;
            margin-top: 250px;
            color: #202328;
        }

        .projects .five.columns {
            padding: 50px;
            width: 100%;
        }
            .project-title {
                margin-left: 50px;
            }
    
        .carousel {
            text-align: center;
            width: 600px;
            height: 400px;
            margin-left: -50px;
            margin-top: 70px;
            margin-bottom: 150px !important;
        }

    .our-work {
        padding: 0 30px;
        margin: 70px 0;
    }
        #work-list {
            margin-top: 50px;
        }

        #foguete {
            display: none;
        }
    
        .manifesto {
            padding: 50px;
        }
    
        .news {
            display: none;
        }

        .footer {
            background-color: #107064;
            padding-bottom: 30px;
        }
            #footer-img {
                display: none;
            }
    
            .footer .three.columns {
                position: relative;
                font-family: cerapro;
                padding: 10px;
            }
                footer h5{
                    font-size: 15px;
                }
                    .footer p, a{
                        font-size: 15px;
                    }

    .ctt-rectangles {
        display: none;
    }
        .contact-us .text {
            color: #353535;
        }

        .contact-us .form {
            padding-left: 0;
            margin-bottom: -100px;
        }
            .contact-us input {
                width: 60%;
                border-bottom: 1px solid #353535;
                color: #353535;
            }
                .contact-us input:focus {
                    border-bottom: 1px solid #bfbfbf;
                }
}

/* desktop */
@media (min-width: 1000px) {
    .us .text {
        margin-top: 120px;
    }

    .us p {
        margin-top: 0;
    }

    .carousel {
        width: 900px;
        height: 900px;
        margin-left: -85px;
        margin-top: 70px;
        margin-bottom: -50px !important;
    }

    .manifesto {
        padding: 0 196px;
    }
    
        .us p {
            color: #FFF;
        }

    .news {
        display: flex;
    }

    .project-title {
        margin-left: 100px;
    }

    .ctt-rectangles {
        display: unset;
    }
        .contact-us .text {
            color: #FFF;
        }

        .contact-us .form {
            padding-left: 450px;
            margin-bottom: -100px;
        }
            .contact-us input {
                width: 300px;
                border-bottom: 1px solid #FFF;
                color: #FFF;
            }
                .contact-us input:focus {
                    border-bottom: 1px solid #bfbfbf;
                }

                .news h3 {
                    padding-left: 360px;
                    margin-bottom: 50px;
                }
            
                .news input {
                    margin-bottom: 40px;
                    margin-left: 425px;
                }
}

@media (min-width: 1200px) {
    .projects {
        margin-top: 200px;
    }

    .projects .five.columns {
        width: 39.3333333333%;
    }

    .carousel {
        width: 624px;
        height: 649px;
        margin-left: 515px;
        margin-top: -723px;
    }

    .footer .three.columns {
        position: relative;
        font-family: cerapro;
        padding: 115px 40px 0;
    }

    .footer {
        background-color: transparent;
        padding-bottom: 30px;
    }
        #footer-img {
            display: unset;
        }

    /* news */
.news {
    padding: 200px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#news-img {
    position: absolute;
}

    .news h3 {
        padding-left: 530px;
        margin-bottom: 50px;
        position: relative;
        font-size: 30px; 
        color: white; 
    }

    .news input {
        margin-bottom: 20px;
        margin-left: 600px;
        text-align: center;
        position: relative;
        font-size: 25px; 
        color: white;
        font-family: cerapromedium;
        background-color: transparent;
        border: 0;
        outline: none;
    }
}

@media (min-width: 1600px) {
    .us .text {
        margin-top: 150px;
    }

    .us {
        margin-bottom: 400px;
    }

    .carousel {
        width: 724px;
        height: 649px;
        margin-left: 715px;
    }
    
    .news h3 {
        padding-left: 660px;
        margin-bottom: 50px;
        position: relative;
        font-size: 30px; 
        color: white; 
    }

    .news input {
        margin-bottom: 20px;
        margin-left: 730px;
        text-align: center;
        position: relative;
        font-size: 25px; 
        color: white;
        font-family: cerapromedium;
        background-color: transparent;
        border: 0;
        outline: none;
    }

    .footer .three.columns{
        padding-bottom: 40px;
    }
        #footer-img {
            height: 100%;
            width: 100%;
            display: unset;
        }
}

@media (min-width: 1680px) {
    .news h3 {
        padding-left: 700px !important;
        margin-bottom: 50px;
        position: relative;
        font-size: 30px; 
        color: white; 
    }

    .carousel {
        width: 724px;
        height: 649px;
        margin-left: 715px !important;
    }

    .news input {
        margin-bottom: 20px;
        margin-left: 760px !important;
        text-align: center;
        position: relative;
        font-size: 25px; 
        color: white;
        font-family: cerapromedium;
        background-color: transparent;
        border: 0;
        outline: none;
    }
}

@media (min-width: 1980px) {
    .news h3 {
        padding-left: 840px !important;
        margin-bottom: 50px;
        position: relative;
        font-size: 30px; 
        color: white; 
    }

    .news input {
        margin-bottom: 20px;
        margin-left: 910px !important;
        text-align: center;
        position: relative;
        font-size: 25px; 
        color: white;
        font-family: cerapromedium;
        background-color: transparent;
        border: 0;
        outline: none;
    }

    .us {
        margin-bottom: 600px;
    }

    .carousel {
        width: 724px;
        height: 649px;
        margin-left: 1015px !important;
    }
}
